<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>plot result</title>
    <style><%= plotrb_min_css %></style>
    <script><%= d3_min_js %></script>
    <script><%= plotrb_js %></script>
  </head>
  <body>
    <div id="vis" style="height:200px;">
      <script><%= embed_js %></script>
      <svg></svg>
    </div>
  </body>
</html>
